html {
    color: antiquewhite;
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    background-color: darkslategrey;
    width: 320px;
    height: 320px;

    border: 10px solid darkslategray;
    border-radius: 6px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.cell {
    background-color: burlywood;
    display: grid;
    place-items: center;
    padding: 0;
}

.filled {
    color:brown;
    font-size: 5rem;
    background-color: rgb(179, 133, 73);
}

.info {
    font-size: 1.5rem;
    margin-top: 2rem;
}

#newGameButton {
    margin-top: 2rem;
    outline: none;
    background-color: rgb(119, 230, 119);
    border: none;
    padding: 1rem;
    border-radius: 2rem;
}

#newGameButton:hover {
    background-color: lightgreen;
}